.about {
   background-image: url('../img/bg/bg-2.webp');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 650px;
   z-index: 2;
}
.about__bg {
    width: 100%;
    height: 100%;
    background-color: #4d45b345;
    padding: 69px 0;
}