.about {
   background-image: url('../img/bg/bg-2.webp');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 650px;
   z-index: 1;
}
.about__information {
    padding-top: 40px;
}
.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.about__bg {
    width: 100%;
    height: 100%;
    padding: 69px 0;
    position: relative;
}
.about__bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ede6fa;
    opacity: .8;
    z-index: 1;
}
.about__title {
    font-family: 'Gilroy-Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: var(--blackColor);
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    max-width: 600px;
    z-index: 2;
}
.about__title::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: var(--whiteColor);
    opacity: .6;
    z-index: -1;
}
.about__descr {
    font-family: 'Gilroy-regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: var(--blackColor);
    max-width: 600px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}
.about__box {
    padding: 20px;
    background-color: var(--whiteColor);
    max-width: 750px;
    width: 100%;
    margin-left: 40px;
    position: relative;
    z-index: 2;
}
.about__box-title {
    font-family: 'Gilroy-Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: var(--blackColor);
    margin-bottom: 30px;
}

.about__box-list--item {
    font-family: 'Gilroy-regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--blackColor);
    margin-bottom: 18px;
    position: relative;
   padding-left: 30px;
}
.about__box-list--item::before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--redColor2);
    border-radius: 4px;
    transform: translateY(-50%) rotate(45deg);
}
.about__vacancy {
    margin-left: 80px;
}
.about__vacancy-item {
    margin-bottom: 20px;
    background-color: var(--whiteColor);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--blackColor);
}
.about__vacancy-item--head {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}
.about__vacancy-item--title {
    font-family: 'Gilroy-Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: var(--blueColor);
}
.about__vacancy-item--smalltitle {
    font-size: 12px;
}
.about__vacancy-item--salary {
    font-family: 'Gilroy-Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: var(--blackColor);
    margin-bottom: 20px;
}
.about__vacancy-item--subdescr {
    font-family: 'Gilroy-bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    color: var(--grayColor);
}
.about__vacancy-item:first-child {
    margin-left: 30px;
    margin-right: 30px;
}
.about__vacancy-item:nth-child(2) {
    margin-left: 80px;    
    max-width: 320px;
}
.about__vacancy-item:nth-child(3) {
    margin-left: 50px;
    margin-right: 30px;
    max-width: 300px;
}
.about__vacancy-item:last-child {
   margin-bottom: 0;
}