.advantages {
    background-color: var(--grayPinkColor);
    position: relative;
}
.advantages__chert {
    width: 220%;
    height: 166px;
    background-color: var(--grayPinkColor);
    transform: rotate(3deg);
    position: absolute;
    top: 8px;
    left: -10px;
    z-index: -1;
}
.advantages__title {
    text-align: center;
    margin-bottom: 50px;
}
.advantages__wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
.advantages__list {
    width: 45%;
}
.advantages__list-item {    
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.advantages__list-item--number {
    font-family: 'Gilroy-bold', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: var(--purpleColor);
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background-color: var(--pinkColor2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.advantages__list-item--text {
    font-family: 'Gilroy-regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: var(--blackColor);
}
.advantages__left {
    width: 50%;
}
.advantages__img {
    width: 90%;
    height: auto;
}
.advantages__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.advantages__btn {
    margin: 0 auto;
}