.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}
.body__container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.btn {
    max-width: 360px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Gilroy-Bold', Arial, Helvetica, sans-serif;
    line-height: 120%;
    font-weight: 700;
    border-radius: 15px;
    background-image: linear-gradient(180deg, rgba(236, 112, 138, 1) 0%, rgba(235, 96, 142, 1) 100%);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    width: 100%;
    box-shadow: 0px 5px 0px 0px rgba(163, 63, 95, 1);
}
.title {
    font-family: 'Gilroy-Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: var(--blackColor);
    margin-bottom: 30px
}