.hamburger {
    position: relative;
    z-index: 11;
    width: 38px;
    height: 38px;
    display: none;
}
.hamburger > span {
    position: absolute;
    left: 50%;
    width: 60%;
    height: 3px;
    border-radius: 20px;
    background-color: var(--purpleColor);
}
.hamburger > span:first-child {
    top: 31%;
    transform: translate(-50%, -50%);
    transition: all .4s ease;
}
.hamburger > span:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
}
.hamburger > span:last-child {
    top: 69%;
    transform: translate(-50%, -50%);
    transition: all .4s ease;
}