.header {
    width: 100%;
    padding: 30px 0;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    width: 150px;
    height: 86px;
}
.custom-logo {
    width: 100%;
    height: 100%;
}

.header__nav > ul {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
}
.header__nav > ul > li > a {
    font-family: 'Gilroy-regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--purpleColor2);
    transition: all .4s ease;
}
.header__nav > ul > li > a:hover {
    color: var(--orangeColor);
}
.header__phone {
    font-family: 'Gilroy-Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--colorBlack);
}
.header__mail {
    font-family: 'Gilroy-light', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--colorBlack);
}
.header__btn {
    width: 100%;
    max-width: 170px;
    height: 45px;
    background-color: var(--purpleColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy-medium', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--whiteColor);
    border-radius: 10px;
    transition: all .4s ease;
}
.header__btn:hover {
    background-color: var(--orangeColor);
}