.hero {
    background-image: url('../../assets/img/bg/Bg.jpg');
    z-index: -2;
}
.hero__block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}
.hero__main-subtitle {
    font-family: 'Gilroy-Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--purpleColor2);
    margin-bottom: 30px;
}
.hero__main-title {
    font-family: 'Gilroy-Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: var(--blackColor);
    margin-bottom: 30px;
    max-width: 600px;
    position: relative;
    z-index: 2;
}
.hero__main-title::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 320px;
    height: 20px;
    background-color: var(--blueColor);
    opacity: .6;
    z-index: -1;
}
.hero__main-title::before {
    content: "";
    position: absolute;
    top: 110px;
    left: 0;
    width: 520px;
    height: 20px;
    background-color: var(--blueColor);
    opacity: .6;
    z-index: -1;
}
.hero__main-postitle {
    font-family: 'Gilroy-medium', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 120%;
    color: var(--blackColor);
    margin-bottom: 120px;
}
.hero__main-btn {
    display: block;
    max-width: 360px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Gilroy-Bold', Arial, Helvetica, sans-serif;
    line-height: 120%;
    font-weight: 700;
    border-radius: 15px;
    background-image: linear-gradient(180deg, rgba(236, 112, 138, 1) 0%, rgba(235, 96, 142, 1) 100%);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    width: 100%;
    box-shadow: 0px 5px 0px 0px rgba(163, 63, 95, 1);
}
.hero__warning {
    border: 1px dashed var(--orangeColor);
    width: 200px;
    padding: 12px;
    position: absolute;
    top: 75%;
    left: 52%;
    transform: translate(-50%, -50%);
}
.hero__warning-info {
    font-family: 'Gilroy-Black', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 110%;
    color: var(--redColor);
    text-align: center;
}
.hero__warning-img {
    position: absolute;
    bottom: -20px;
    left: -20px;
}
.hero__phone {
    position: relative;
}
.hero__phone-procentage {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 95px;
}
.hero__phone-procentage > picture {
    width: 100%;
    height: 100%;
}
.hero__phone-procentage > picture > img {
    width: 100%;
    height: 100%;
}
.hero__phone-img {
    width: 425px;
    height: 510px;
}
.hero__phone-img > picture {
    width: 100%;
    height: 100%;
}
.hero__phone-img > picture > img {
    width: 100%;
    height: 100%;
}