.mobile__menu {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 80vh;
    background-color: var(--whiteColor);
    z-index: 10;
    display: flex;
    align-items: start;
    justify-content: center;
    transition: all .4s ease;
}
.mobile__menu-box {
    width: 50%;
    margin: 0 auto;
    padding: 60px 0;
}
.mobile__menu-box > ul > li {
    margin-bottom: 30px;
}
.mobile__menu-box > ul > li > a {
    font-family: 'Gilroy-Bold' Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: var(--blackColor);
}

.menu-active > .mobile__menu {
    top: 0;
}

 

.menu-active {
    .hamburger > span:first-child {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .hamburger > span:nth-child(2) {
        opacity: 0;
    }
    .hamburger > span:last-child {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}