html, body {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    border: none;
    background-color: #00000000;   
}
button:focus {
    outline: 1px solid #00000000;
}
input {
    border: none;
    background-color: #00000000;    
}
input:focus {
    outline: 1px solid #00000000;
}