@import url(../css/var.css);
@import url(../css/fonts.css);
@import url(../css/normalize.css);
@import url(../css/global.css);
@import url(../css/header.css);
@import url(../css/hero.css);
@import url(../css/mobile.menu.css);
@import url(../css/hamburger.css);
@import url(../css/about.css);
@import url(../css/course.css);
@import url(../css/tutor.css);
@import url(../css/advantages.css);

@import url(../css/media.css);
