:root {
    --whiteColor: #fff;
    --purpleColor: #4d45b3;
    --purpleColor2: #403c89;
    --orangeColor: #ff8562;
    --blackColor: #251442;
    --blueColor: #b5dbf8;
    --redColor: #a33f5f;
    --gradient1: linear-gradient(180deg,rgba(236,112,138,1) 0%,rgba(235,96,142,1) 100%)
}